RewriteEngine On
RewriteBase /rage14/

RewriteRule ^$ emails/ [R=302]

RewriteRule ^people$ people/ [R=302]
RewriteRule ^people/$ people.html [L]

RewriteRule ^emails$ emails/ [R=302]
RewriteRule ^emails/$ emails.html [L]

RewriteRule ^proposal$ proposal/ [R=302]
RewriteRule ^proposal/$ proposal.html [L]
